/*
 ===================
|CUSTOM PROPIERTIES |
 ===================
*/
:root{
    /* Propiedades personalizadas que permiten reutilizarlas
    a lo largo del código */
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #a905b6;
    --secundario: #6f32be;
    --fuente-principal: 'Roboto Mono', monospace;
}
/*
 =================================
| Se utiliza para estandarizar el |
| formato REM a lo largo del html |
 =================================
*/
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; 
    /* 1rem = 10px */
    font-family: var(--fuente-principal);
}
/*
==================================
*/


h1, .h2-titulos{
    text-align: center;
    font-size: 3.8rem;
}

.spantitulo{
    font-size: 2rem;
    color: var(--secundario);
}

.contenedor{
    /* tamaño del contenedor */
    width: 100rem;
    /* 0 top 0 bot auto izquierda auto derecha */
    /* con auto se centra */
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-superior{
    /* Habilitamos el display flex */
    display: flex;
    /* Se elije como se verá mediante justify-content */
    justify-content: space-between
}

.navegacion-superior a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
}

.navegacion-superior a:hover{
    background-color: var(--primario);
    color: black;
}

@media (min-width: 480px) {
    
}