/*
 ===================
|CUSTOM PROPIERTIES |
 ===================
*/
:root{
    /* Propiedades personalizadas que permiten reutilizarlas
    a lo largo del código */
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #a905b6;
    --secundario: #6f32be;
    --degradadoInf: #828385;
    --fuente-principal: 'Roboto Mono', monospace;
}
/*
 =================================
| Se utiliza para estandarizar el |
| formato REM a lo largo del html |
 =================================
*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    /** Mover la página mejor hacia abajo */
    scroll-snap-type: y mandatory;
}

/** Scroll snap. movimiento automatizadi al bajar */
header,
.sombra .stack,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/** Selecciona todos los elementos del HTML */
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; 
    /* 1rem = 10px */
    font-family: var(--fuente-principal);
    background-image: linear-gradient(to top, var(--degradadoInf) 0%, var(--blanco) 100%);
}
/*
==================================
*/

/** Formato a los H1 y H" */
h1, .h2-titulos{
    text-align: center;
    font-size: 3.8rem;
}

/** Se otorga formato al Span ubicado en el h1 */
.spantitulo{
    font-size: 2.4rem;
    color: var(--secundario);
    font-weight: bold;
}

/** Definir tamaño de la navbar */
.contenedor{
    /* tamaño del contenedor */
    max-width: 100rem;
    /* 0 top 0 bot auto izquierda auto derecha */
    /* con auto se centra */
    margin: 0 auto;
}

/** Se define el botón de contacto */
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 2rem 3rem;
    text-decoration: none;
    font-size: 2rem;
    /** Convertir texto botón mayúscula */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    /** Aumentamos tamaño para resoluciones bajas */
    width: 80%;
    text-align: center;
    border: none;
}

.boton:hover{
    background-color: #a905b6;
    cursor: pointer;
}

/** Otorgar color a la navbar */
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-superior{
    /* Habilitamos el display flex */
    display: flex;
    /* Se elije como se verá mediante justify-content */
    justify-content: center;
    /** Menú ventrado formato columna */
    align-items: center;
    flex-direction: column;
}

/** Elementos de la barra de navegación */
.navegacion-superior a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
    width: 50em;
}

/** Efecto al pasar por encima el cursor */
.navegacion-superior a:hover{
    background-color: var(--primario);
    color: black;
}

/** Banner */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: none;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}

/** Se crea una capa encima del banner
y se añade una transparencia mediante 
RGBA en background color. */
.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0, .4);
    width: 100%;
    height: 100%;
    /** Centramos el contenido del banner */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}

.sombra{
    -webkit-box-shadow: 0px 22px 29px 7px rgba(169,5,182,0.24);
    -moz-box-shadow: 0px 22px 29px 7px rgba(169,5,182,0.24);
    box-shadow: 0px 22px 29px 7px rgba(169,5,182,0.24);
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--blanco);
}

.sombra p{
    margin: 20px;
    text-align: left;
    font-size: 1.2em;
}

/** Hasta 768PX de pantalla se mantendrá
 el formato del media Query */
@media (min-width: 768px) {
    .navegacion-superior{
        flex-direction: row;
        justify-content: space-around;
    }
    /** El botón vuelve a su tamaño */
    .boton{
        width: auto;
    }
    .stack{
        display: grid;
        /** Repite 1fr tres veces = tres columnas */
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
        text-align: justify
    }
    .sombra p{
        margin: 20px;
        text-align: justify;
        font-size: 1.2em;
    }
}

/** Se define el stack formato grid */


.titulo-tecnologia, h3{
    text-align: center;
}

.stacks{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.iconos{
    text-align: center;
    height: 15rem;
    width: 15rem;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stacks h3 {
    color: var(--primario);
}

.formulario{
    background-color: #828385;
    width: min( 60rem, 100%); /** Utilizar el valor mas mas pequeño */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    color: var(--secundario);
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 2rem;
}


.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.boton-enviar input{
    width: 100%;
}

.footer{
    text-align: center;
}